@keyframes fadeInUp {
  from { 
    opacity: 0;
    transform: translateY(1rem);
  }
  to { 
    opacity: 1;
  }
}

@keyframes fadeIn {
  from { opacity: 0;  }
  to { opacity: 1; }
}

.text {
  animation: fadeIn 2s;
  animation-fill-mode: backwards;
}

.heartContainer {
  margin-top: 1rem;
  margin-bottom: -1rem;
  text-align: center;
  animation: fadeInUp 2s;
}

.counter {
  color: white;
  position: relative;
  top: -7rem;
}

.button {
  width: 8rem;
  margin: 0.5rem 0.5rem; 
  padding: 0.5rem;

  font-size: 1.1rem;

  cursor: pointer;

  background-color: #11C2E9;
  border: none;
  color: white;
  border-radius: 1rem;
  font-weight: 500;

  animation: fadeIn 2s;
  animation-delay: 2s;
  animation-fill-mode: backwards;
}

