.header {
    width: 100%;
    height: 6rem;

    background-color: white;
    border-color: #CCCCCC;

    margin-bottom: 4rem;
}

.nav {
    padding: 0rem 1rem;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav > * {
    margin: 0 2rem;
}

.about {
    color: #505050;
    font-size: 1.25rem;
    font-weight: 600;
}

.main {
    margin: 0 auto;
    padding: 1rem;
    border-radius: 1rem;
    background-color: white;

    width: 60%;
}

@media screen and (max-width: 1000px) {
    .main {
        width: 90%;
    }
}
